!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title #{(title ? title + " - " : "")}Dilefont
    %meta(name="description" content="Learn the zen of coding in NodeJS.")
    %meta(name="viewport" content="width=device-width")
    %link(href="/style.css" rel="stylesheet")
    %link(href="/print.css" rel="stylesheet" media="print")
    %link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml")
    %link(href="/favicon.ico" rel="icon" type="image/x-icon")
  %body
    #container
      #header
        %a{href: "/"}
          .boosh
            Dilefont
          .tagline
            Climb on to your seahorse
      = content

      #footer
        %p &copy; 2012 Brian Egan
        %p Built with&nbsp;
          %a{href: "https://github.com/creationix/wheat"} Wheat 
           running on node #{process.version}
    :script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28982923-1']);
      _gaq.push(['_setDomainName', 'dilefont.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    %script(type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js")
